<div>

</div>
<div id="shop">
  <div id="shop-navigation">
    <div id="shop-navigation-filters">
      <span>Цена:</span><br>
      <input id="price-min" type="text" ng-model="filterMinPrice">
      <input id="price-max" type="text" ng-model="filterMaxPrice">

      <hr>
      <div id="shop-navigation-categories">
        <label *ngFor="let category of products">
          <input type="checkbox" value="filter.value" [attr.filterType]="category.type" (change)="onFilterChange(category.type, $event)">
          <span>{{category.typeText}}</span>
        </label>
      </div>

      <hr>
      <div id="shop-filter-buttons">
        <input id="apply-filter-button" class="filter-button apply-filter" type="button" value="Филтрирай" (click)="applyFilters()"
          style="width: 50%;">
        <input id="clear-filter-button" class="filter-button clear-filter" type="button" value="Изчисти Филтри" ng-click="vm.clearFilter()"
          style="width: 50%;">
      </div>
    </div>
  </div>

  <div id="shop-content">
      <app-product-card *ngFor="let item of products"
        id="{{item.id}}"
        class="product-card"
        [amountLeft]="item.amountLeft"
        [description]="item.description"
        [name]="item.name"
        [price]="item.price"
        [weight]="item.weight"
        [id]="item.id"
        [type]="item.type"
        [thumbnail]="item.thumbnail"
      />
  </div>
</div>

<button (click)="openDialog()">Open Dialog</button>
